<h1>
    Add question:
</h1>

<form method="post" action="/quizzes">

    <% include _form.ejs %>

</form>

<!--en esta vista se include ese archivo ejs que será la solicitud al añadir un nuevo quiz-->